img.avatar {
  width: 300px;
}

.social a {
  color: gray;
  font-size: 2rem;
  margin-left: .5rem;
}

i:hover, .panel-block:hover i {
  color: rgb(61, 61, 61);
}

.panel-block {
  font-size: 0.8rem;
  text-align: left;
}

.bio p.panel-heading {
  background-color: rgba(250, 221, 195, 0.5);
}

.projects p.panel-heading {
  background-color: rgba(111, 67, 35, 0.5);
}
