a.site-menu {
  background-color: #8c650e;
}

a.site-menu:hover {
  background-color: #c38e17;
}

.blog-title,
.post-title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fugaz One", cursive;
}

.blog-description {
  font-family: "Fjalla One", sans-serif;
}

p {
  font-family: "Andika New Basic", sans-serif;
}

a.fn-item.active {
  color: #3a2903;
}

a.fn-item:hover {
  color: #8c650e;
}

.post-holder.odd {
  background-color: #c38e17;
}

.post-holder.odd div.post-after {
  border-top-color: #c38e17;
}
